.episode-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 2rem;
    width: 100%;
    background-image: linear-gradient(to right, #333, #494949);


    @media (max-width:700px) {
        padding: 4.5rem 2rem 4rem 2rem;
    }

    &__title{
        color: #fff;
        font-size: clamp(3rem, 6vw, 6.4rem);
        font-family: "Poppins Bold";
        margin-bottom: 2rem;
        line-height: 1.2;
        text-align: center;

        span{
            color: #ebebeb;
            font-family: "Monserrat Semibold";
            font-size: clamp(1.4rem, 3vw, 1.8rem);
            text-transform: uppercase;
        }
    }

    .episodes{
        width: 100%;
        max-width: 1400px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 20%));
        grid-template-rows: 1fr;
        grid-auto-rows: 1fr;
        gap: 1.5rem;
        justify-content: center;
        align-items: center;
        align-content: center;
        justify-items: center;
        grid-auto-flow: dense;
        margin-bottom: 3rem;

        .episode{
            padding: .6rem;
            padding-bottom: 2.5rem;
            width: 100%;
            border-radius: 1.2rem;
            background-color: #fff;
        
        
            &__img{
                width: 100%;
                border-radius: 1.2rem;
                margin-bottom: 2rem;
        
                img{
                    border-radius: 1.2rem;
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
            &__data{
                display: flex;
                justify-content: space-between;
                align-items: center;
        
                &--text{
                    color: #000;
                    font-family: 'Monserrat Semibold';
                    font-size: 1.5rem;
                    padding-right: .5rem;
                }
                &--play-btn{
                    position: relative;
                    width: 5rem;
                    height: 3.5rem;
                    border-radius: 50%;
                    padding: 1rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: all .5s ease-in;
                    cursor: pointer;
                    background-image: radial-gradient(circle, #e27f49e1 20%, #f05908e1 10%);
        
                    img{
                        transform: scale(1) translateX(2px);
                        width: 130%;
                        height: 130%;
                        transition: all .2s ease-in;
                    }
        
                    &:hover img,
                    img:hover{
                        transform: scale(1.2) translateX(2px);
                    }
                }
            }
        }
    }

    &__btn{
        width: fit-content;
        padding: 1.4rem 3.2rem;
        text-decoration: none;
        border-radius: 6px;
        border: 1px solid #fff;
        font-family: 'Monserrat Semibold';
        font-size: clamp(1.6rem, 3vw, 1.8rem);
        color: #fff;
        background-color: transparent;
        transition: all .2s ease-in;
        text-transform: capitalize;
        cursor: pointer;

        @media (max-width:700px) {
            width: 100%;
            text-align: center;
        }

        &:hover,
        &:active{
            color: #f15300;
            border: 1px solid #f15300;
        }
    }

}