.footer-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;

    @media (max-width:600px) {
        flex-direction: column;
    }
    
    &__img{
        flex: 0 0 40%;
        padding: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;

        img{
            width: 12rem;
        }
    }
    &__info{
        padding: 3rem;
        text-align: left;
        color: #fff;
        font-size: clamp(1.5rem, 3vw, 1.8rem);
        font-family: "Pontano Sans";
    }
}