html{
    font-size: 62.5%;
}
body{
    box-sizing: border-box;
}
  *,
  *::after,
  *::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

*{
  scroll-behavior: smooth;
}

  *::selection{
    color: #fff;
    // background-color: #f15300;
    background-color: #660066;
}

.app-wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #333;
}