// Monserrat
@font-face {
    font-family: "Monserrat Bold";
    font-weight: 700;
    src: url("/src/assets/fonts/Montserrat/Montserrat-Bold.ttf");
}
@font-face {
    font-family: "Monserrat Semibold";
    font-weight: 600;
    src: url("/src/assets/fonts/Montserrat/Montserrat-SemiBold.ttf");
}

// Poppins
@font-face {
    font-family: "Poppins Bold";
    font-weight: 700;
    src: url("/src/assets/fonts/Poppins/Poppins-Bold.ttf");
}

// Pontano Sans
@font-face {
    font-family: "Pontano Sans";
    font-weight: 400;
    src: url("/src/assets/fonts/Pontano_Sans/PontanoSans-Regular.ttf");
}
